

#tabela {
    -fx-background-color: rgba(44, 44, 44, 1);
    -fx-border-width: 4 0 0 0;
    -fx-border-color: rgba(175,12,21,255);
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 10, 10);


}

#tabela .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: rgba(56, 56, 56, 1);
    -fx-border-color: linear-gradient(to top, #4B4B4B, #383838);


}

#tabela .column-header .label{
    -fx-text-fill: white;
    -fx-padding: 20 15 15 15;




}

#coluna {
    -fx-background-color: rgba(44, 44, 44, 1);
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-border-color: rgba(75, 75, 75, 1);
    -fx-border: 1px;

}





#tabelaNum .column-header .label{
    -fx-padding: 5px;
}

#colunaNum {
     -fx-background-color: rgba(56, 56, 56, 1);
     -fx-text-fill: white;
     -fx-alignment: CENTER;
     -fx-border-color: rgba(75, 75, 75, 1);
     -fx-border: 1px;
     -fx-padding: 10px;

}



.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.list-cell:empty {
    -fx-background-color: white;
}

.toggle .thumb-area {
    -fx-background-color: rgba(39, 39, 41, 1);
}

.toggle:selected .thumb-area {
    -fx-background-color: rgba(173, 64, 70, 1);
}


.toggle .thumb {
    -fx-background-color: rgba(255, 255, 255, 1);
}

.toggle:selected .thumb {
    -fx-background-color:  rgba(175,12,21,255);
}

#colunaP {
    -fx-background-color: rgba(56, 56, 56, 1);
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-border-color: rgba(75, 75, 75, 1);
    -fx-border: 1px;
    fx-padding: 10px;
    -fx-font-weight: bold
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: rgba(56, 56, 56, 1);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: rgba(75, 75, 75, 1);
}

.image:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 25;
}

.fundoIcone:hover {
    -fx-background-color:#dae7f3;
}